:root {
    --grey: 1px solid #A0AAB5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.profile {
    background-color: #E7ECF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
}

.description {
   padding-top: 25px;
   padding-bottom: 40px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 18rem;
   height: auto;
   box-shadow: 0px 0px 2px 0px rgba(128,123,128,1);
}

.avatar {
    border-radius: 50%;
}

.name {
    font-weight: bold;
    padding-top: 25px;
}

.tag, .location {
    padding-top: 10px;
    font-size: 15px;
    color:#A0AAB5;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #fff;
    width: 18rem;
    height: 3rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    background-color: #F2F6F9;
    box-shadow: 0px 0px 2px 0px rgba(128,123,128,1);
}

.label {
    font-size: 0.8rem;
    color: #A0AAB5;
    padding-bottom: 0.3rem;
}

.quantity {
    font-weight: bold;
}